html, body {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-family: monospace;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

#ui {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 200px;
  padding: 0.5em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  border: 2px solid #AAA;
  background-color: #CCC;
  color: #333;
}

.upload input {
  display: block;
  width: 100%;
}

.link a {
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

label:last-child {
  margin-bottom: 0;
}

label span {
  font-weight: bold;
}

label output {
  float: right;
}

.checkbox {
  line-height: 2em;
}

.checkbox input {
  display: block;
  float: left;
  width: 1em;
  height: 1em;
  margin: 0.5em;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 1px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 18px;
  border: none;
  background: #529de1;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 18px;
  border: none;
  border-radius: 0;
  background: #529de1;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 18px;
  border: 0;
  background: #529de1;
}
